.buttoncategory{
    background-color: rgba(217, 217, 217, 1);
   display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
border: none;
    width: 160px;
    height: 150px;
}
.filter-buttons{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    margin-top: 40px;
}

@media screen and (max-width: 834px) {
    .buttoncategory{
        background-color: rgba(217, 217, 217, 1);
        width: 140px;
        height: 150px;
    }

}
@media screen and (max-width:390px) {
    .filter-buttons{
        display: flex;
        flex-direction: column;
    }
    .buttoncategory{
        margin: auto;
    }

}