.buttoncategory{
    background-color: rgba(217, 217, 217, 1);
    width: 160px;
    height: 150px;
}
.filter-buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}