* {
    margin: 0;
    padding: 0;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    height: 92px;
    width: 100%;
    font-size: 18px;
    background-color: #0B736A;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textfooter {
    display: flex;
    margin-right: 30px;

}

.copy {
    margin-left: 30px;
    margin-right: 30px;
}

.redesfooter {
    display: flex;
    margin-left: 30px;
    padding-right: 30px;
}

.instafooter,
.facefooter,
.twitterfooter {
    width: 60px;
    height: 60px;
}

.instafooter,
.facefooter {
    margin-right: 15px;
}

img:hover {
    transform: scale(1.3);
    background-color: #FEE846;
    border-radius: 10px;
}


@media screen and (max-width: 1180px) {
    .footer {
        flex-direction: column;
        height: 150px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .textfooter {
        margin-bottom: 15px;
    }

    .redesfooter {
        padding-right: 0px;
    }

    .copy {
        margin-left: 30px;
    }

    .twitterfooter {
        margin-right: 0;
    }
}

@media screen and (max-width: 1000px) {

    .footer{
        height:200px;
    }

    .textfooter {
        flex-direction: column;
        margin-right: 0;
        padding: 15px;
    }

    .copy,
    .politica {
        margin: auto;
        text-align: center;
    }

    .copy {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 530px){
    .footer{
        height: 220px;
    }
}

@media screen and (max-width: 430px) {
    .textfooter {
        margin: 0;
    }
}