
.logcont{
    margin-left: 25%;
}

.logform{
    background-color: rgba(123, 136, 135, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 350px;
    padding: 10px;
    border-radius: 10px;

}

.form-control{
    width: 50%;
    border:  none;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: -8px;
}

.mb-3{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 50px;
}

.mb-4{

    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;

}
.form-label{
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.logbutton{
    margin-left: 23%;
    margin-top: 20px;
    font-size: 40px;
    background-color: white;
    color:rgb(123, 136, 135);
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border: none;
}
.logbutton:hover {
    background-color: white;
    color:rgb(11, 115, 106); 
    font-weight: bolder;
    border:  none;
}
.logbutton:active {
    color: black;
    border: none;
}

@media screen and (max-width: 990px){
    .logform{
        width: 500px;
    }
    .logcont{
        margin-left: 20%;
    }
}

@media screen and (max-width: 690px){
    .logform{
        width: 400px;
    }
    .logcont{
        margin-left: 15%;
    }
    }

    @media screen and (max-width: 690px){
        .logform{
            width: 400px;
        }

        .mb-3, .mb-4{
            flex-direction: column;
        }
    }

    @media screen and (max-width: 569px){
        .logform{
            width: 350px;
        }
    }
    @media screen and (max-width: 490px){
        .logform{
            width: 300px;
        }
        .logcont{
            margin-left: 10%;
        }
    }